


<div class="full-content">
  <p>Bạn có chắc muốn xóa : <u class="text-danger">{{book.title}}</u></p>
  <div *ngIf="message">
    <p style="color: red">{{ message }} : <u class="text-danger">{{book.title}}</u></p>
  </div>
  <table class="table table-bordered">
    <tr>
      <th><p>Title : </p></th>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <th><p>Author : </p></th>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <th><p>Description : </p></th>
      <td>{{book.description}}</td>
    </tr>
  </table>
  <input type="button" value="Delete" class="btn btn-success" style="margin-left: 60px" (click)="deleteBook()">
  <button type="button" value="Back" class="btn btn-success"
          style="margin-left: 60px;"
          [routerLink]="['/list-book']">Back
  </button>
</div>
<router-outlet></router-outlet>
